addition-tulasi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2f88f787-d3b0-42dc-8a67-6a18cba9696b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="addition-tulasiFlow" doc:id="829003b3-7045-4a7b-8288-9cecb380c40a" >
		<http:listener doc:name="Listener" doc:id="09d67b91-b450-4fc0-baf4-67b08bfca276" config-ref="HTTP_Listener_config" path="add"/>
		<ee:transform doc:name="Transform Message" doc:id="fbb64aa5-d73f-49ff-ad58-4e0baa61028b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  result: 5 + 7
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="24ca2b9a-470c-4b39-b0e6-8dde009e0de7" message="#[payload]"/>
	</flow>
</mule>
